* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



.navbar {
    box-sizing: border-box;
    position: absolute;
    width: 1395px;
    height: 48px;
    left: 29px;
    top: 33px;
    display: flex;
    background: #A18276;
    border: 2px solid #000000;
    border-radius: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.nav li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 27px;
  }


#logo {
   width: 65px;
   padding-top: 0px;
   padding: 0;
   margin-left: -0px;
   margin-top: -9px;
}


  li img {
    width: 30px;
    position: absolute;
    top: 3px;
  }


  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding-left: 50px;
    padding-right: 47px;

  }

  .right {
    margin-right: 530px;
  }

  body {
    position: relative;
    width: 1512px;
    height: 982px;
    background: #F5CAC3;
  }

  main {
    box-sizing: border-box;
    position: absolute;
    width: 1455px;
    height: 900px;
    left: 28px;
    top: 20px;
    background: #B9D2B2;
    border: 3px solid #000000;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
  }

  h2 {
    position: absolute;
    width: 358px;
    height: 75px;
    left: 549px;
    top: 260px;
    font-family: 'Bright DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 75px;
    color: #FFFFFF;
  }

  .logos {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: absolute;
    left: 185px;
    top: 429px; 
    box-sizing: border-box;
    position: absolute;
    height: 48px;
    display: flex;
  }

  .logosLI {
    border: 1px #000000;
    border: solid ;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    align-items: center;
    position: relative;
    background-color: rgba(218, 198, 181, 1);
    display: flex;
    text-align: center;
    overflow: visible;
    justify-content: space-between;
  }

  .logosLI li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    justify-content: space-between;
  }

  .logosLI a {
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 280px;
  }
  h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
  }

  #twt {
    position: absolute;
    width: 200px;
    height: auto;
    left: 5px;
    top: 30px;
    transform: rotate(10deg)
  }

  #ig {
    position: absolute;
    width: 125px;
    height: auto;
    left: 35px;
    top: 35px;
  }

  #bh {
    position: absolute;
    width: 150px;
    height: auto;
    left: 24px;
    top: 24px;
  }

  #mail {
    position: absolute;
    width: 125px;
    height: auto;
    left: 35px;
    top: 35px;
  }

  #one {
    position: absolute;
    width: 300px;
    height: auto;
    left: -115px;
    top: 630px;
    transform: rotate(108deg);
    opacity: 70%;
}

#two {
    position: absolute;
    width: 160px;
    height: auto;
    left: 940px;
    top: 630px;
    opacity: 70%;
}

#three {
    position: absolute;
    width: 300px;
    height: auto;
    left: 999px;
    top: 670px;
    opacity: 73%;
    rotate: 360deg;
}

#four {
    position: absolute;
    width: auto;
    height: 360px;
    left: 1180px;
    top: -5px;
    transform: rotate(-78deg);
    filter: opacity(70%);
}

#five {
  position: absolute;
  width: auto;
  height: 158.37px;
  left: -65px;
  top: 60px;
  opacity: 70%;
}
