* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


  body {
    position: relative;
    width: 1512px;
    height: 982px;
    background: rgba(185, 210, 178, 1);
  }

  main {
    box-sizing: border-box;
    position: absolute;
    width: 1455px;
    height: 900px;
    left: 28px;
    top: 20px;
    background: rgba(247, 237, 226, 1);
    border: 3px solid #000000;
    border-radius: 30px;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
  }

  .navbar {
    box-sizing: border-box;
    position: absolute;
    width: 1395px;
    height: 48px;
    left: 29px;
    top: 33px;
    display: flex;
    background: #A18276;
    border: 2px solid #000000;
    border-radius: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.nav li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 27px;
  }


#logo {
   width: 65px;
   padding-top: 0px;
   padding: 0;
   margin-left: -0px;
   margin-top: -9px;
}

  li img {
    width: 30px;
    position: absolute;
    top: 3px;
  }

  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding-left: 50px;
    padding-right: 47px;

  }

  .right {
    margin-right: 530px;
  }


  #groovy {
    position: relative;
    top: 69px;
    width: 1449px;
    height: auto;
    margin: auto;
    opacity: 20%;
    padding: 0;
  }

  h2 {
    position: absolute;
    width: 655px;
    height: 102px;
    left: 400px;
    top: 399px;

    font-family: 'Bright DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 126px;

    color: #FFFBF7;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;

  }

.gal {
    box-sizing: border-box;
    position: absolute;
    list-style-type: none;
    display: inline;
    float: center;
    align-items: center;
    margin: auto;
}


.column {
    border: 1px #000000;
    border: solid ;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    position: relative;
    background-color: rgba(218, 198, 181, 0.7);
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 100px;
    font-size: 50px;
    color: #000000;
    top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 70px;
    position: absolute;
    top: 900px;
    margin: auto;
}

#one {
    position: relative;
    width: auto;
    height: 400px;
    top: -120px;
    margin: auto;
  }
  #one:hover {
    opacity: 0;
  }

  #two {
    position: relative;
    width: auto;
    height: 400px;
    margin: auto;
    top: -117px;
  }
  #two:hover {
    opacity: 0;
  }

  #three {
    position: relative;
    width: auto;
    height: 300px;
    top: -115px;
    right: 10px;
  }
  #three:hover {
    opacity: 0;
  }

  .row2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 70px;
    position: relative;
    top: 1300px;
    margin: auto;
}

#four {
  position: relative;
  width: auto;
  height: 400px;
  top: -105px;
  margin: auto;
  bottom: 20px;
}

#four:hover {
  opacity: 0;
}

#five {
  position: relative;
  width: auto;
  height: 300px;
  margin: auto;
  top: -175px;
}

#five:hover {
  opacity: 0;
}

#six {
  position: relative;
  width: auto;
  height: 300px;
  top: -115px;
  margin: auto;
}

#six:hover {
  opacity: 0;
}

.row3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 70px;
    position: relative;
    margin: auto;
    top: 1198px;
}

#seven {
  position: relative;
  width: auto;
  height: 350px;
  margin: auto;
  right: 70px;
  bottom: 30px;
  top: -200px;
}
#seven:hover {
  opacity: 0;
}
#eight {
  position: relative;
  width: auto;
  height: 298px;
  margin: auto;
  top: -229px;
  right: 20px;
}
#eight:hover {
  opacity: 0;
}

#nine {
  position: relative;
  width: auto;
  height: 300px;
  top: -230px;
  margin: auto;
}
#nine:hover {
  opacity: 0;
}

.row4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 100px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 70px;
  position: relative;
  margin: auto;
  top: 1095px;
}

#ten {
  position: relative;
  width: auto;
  height: 310px;
  top: -175px;
}
#ten:hover {
  opacity: 0;
}

#elev {
  position: relative;
  width: auto;
  height: 300px;
  top: -230px;
}
#elev:hover {
  opacity: 0;
}

#twelv {
  position: relative;
  width: auto;
  height: 300px;
  top: -230px;
}
#twelv:hover {
  opacity: 0;
}

#scroll {
  position: absolute;
width: 100.59px;
height: 35px;
left: 674px;
top: 800px;
opacity: 65%;
}

/* position: sticky;
    width: auto;
    height: 50px;
    top: 700px;
    opacity: 50%; */

    #bg1 {
      position: absolute;
      width: auto;
      height: 100px;
      left: -01%;
      right: 50%;
      top: 3%;
      bottom: 88%;
      opacity: 60%;
    }

    #bg2 {
      position: absolute;
      width: auto;
      height: 130px;
      left: 12%;
      right: 80%;
      top: 400px;
      bottom: 57%;
      opacity: 60%;
    }

    #bg3 {
      position: absolute;
      width: auto;
      height: 70px;
      left: 47.32%;
      right: 48.51%;
      top: 6%;
      bottom: 89.7%;
      opacity: 60%;
    }

    #bg4 {
      position: absolute;
      width: auto;
      height: 110px;
      left: 96%;
      right: 0%;
      top: 7%;
      bottom: 83%;
      opacity: 60%;
    }

    #bg5 {
      position: absolute;
      width: auto;
      height: 100px;
      left: 0%;
      right: 91.58%;
      top: 85.89%;
      bottom: 0%;
      opacity: 60%;
    }

    #bg6 {
      position: absolute;
      width: auto;
      height: 90px;
      left: 29%;
      right: 64.94%;
      top: 78%;
      bottom: 30%;
      opacity: 60%;
    }

    #bg7 {
      position: absolute;
      width: auto;
      height: 100px;
      left: 64%;
      right: 31.15%;
      top: 75.05%;
      bottom: 30%;
      opacity: 60%;
    }

    #bg8 {
      position: absolute;
      width: auto;
      height: 70px;
      left: 89.41%;
      right: 7.49%;
      top: 93.52%;
      bottom: 11.53%;
      opacity: 60%;
    }
    
    #bg9 {
      position: absolute;
      width: auto;
      height: 60px;
      left: 57%;
      right: 37.04%;
      top: 100%;
      bottom: 0.11%;
      opacity: 60%;
    }